
{% extends "layout.njk" %}

{% set pageId = 'start' %}

{% block header %}
  {% include "includes/header.njk" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    Landing page options
  </h1>
  <ul class="govuk-list govuk-list--spaced">
    <li>
      <a href="/landing1">A simple bullet list</a> (Simplest design: assumes no need for extra descriptions and avoids repeat wording)
    </li>
    <li>
      <a href="/landing2">Single column, with descriptions and buttons</a> (Second simplest design)
    </li>
    <li>
      <a href="/landing3">Two columns, no panels</a>
    </li>
    <li>
      <a href="/landing4">Two columns, using panels</a>
    </li>
    <li>
      <a href="/landing5">Three columns, using panels, links instead of buttons</a>
    </li>
  </ul>

{% endblock %}
