
{% extends "layout.njk" %}

{% set pageId = 'start' %}

{% block header %}
  {% include "includes/header.njk" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{serviceName}}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">

      <div class="app-card">
        <h2 class="govuk-heading-m">
          Apply for qualified teaching status (QTS)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-card">

        <h2 class="govuk-heading-m">
          Find a job in teaching
        </h2>

        <p>Find a job in teaching in England.</p>

        <p><a href="#">Start now</a></p>
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Apply for qualified teaching status (QTS)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>

    </div>
    <div class="govuk-grid-column-one-third">

      <div class="app-card">

        <h2 class="govuk-heading-m">
          Find a job in teaching
        </h2>

        <p>Find a job in teaching in England.</p>

        <p><a href="#">Start now</a></p>
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Apply for qualified teaching status (QTS)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla..</p>

        <p><a href="#">Start now</a></p>
      </div>

    </div>
  </div>

{% endblock %}
