
{% extends "layout.njk" %}

{% set pageId = 'start' %}

{% block header %}
  {% include "includes/header.njk" %}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">
    {{serviceName}}
  </h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

      <div class="app-card">

        <h2 class="govuk-heading-m">
          Find a job in teaching
        </h2>

        <p>Find a job in teaching in England.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Apply for qualified teaching status (QTS)
        </h2>

        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam placerat, lorem nec finibus varius, lectus ipsum suscipit diam, id porttitor nisi libero nec quam.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
    </div>
    <div class="govuk-grid-column-one-half">

      <div class="app-card">

        <h2 class="govuk-heading-m">
          Find a job in teaching
        </h2>

        <p>Find a job in teaching in England.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Apply for qualified teaching status (QTS)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>
      <div class="app-card">
        <h2 class="govuk-heading-m">
          Name of thing (preferrably a verb)
        </h2>

        <p>Donec feugiat interdum diam, et suscipit orci euismod eget. Ut fringilla sem ut eros consequat fringilla.</p>

        {{ govukButton({
          text: "Start now",
          isStartButton: true
        }) }}
      </div>

      {# <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
        <li>
          <a href="#">Find a job in teaching</a>
        </li>
        <li>
          <a href="#">Apply for qualified teaching status (QTS)</a>
        </li>
        <li>
          <a href="#">Etc</a>
        </li>
        <li>
          <a href="#">Etc</a>
        </li>
        <li>
          <a href="#">Etc</a>
        </li>
        <li>
          <a href="#">Etc</a>
        </li>
      </ul> #}


    </div>
  </div>

{% endblock %}
